name: Pruebas automáticas del grupo

on:
  push:
    branches:
      - main
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: ${{ github.workspace }}

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Mostrar estructura (debug)
        run: |
          pwd
          ls -R

      - name: Ejecutar pruebas
        run: |
          python -m pytest -v
